body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header {
  position: fixed;
  width: 97%;
  padding: 1%;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.name {
  display: flex;
  left: 0;
  padding-left: 5%;
}

.logo {
  font-size: 25px;
  color: black;
  font-weight:600;
  text-decoration: none;
}
.navbar {
  display: flex;
  gap: 4%;
  justify-content: flex-end;
  padding-right: 5%;
}
.navbar a {
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar a:hover,
.navbar a.active {
  color: darkslategrey
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 80vh;
  column-gap: 3%;
  padding-top: 5%;
  justify-content: space-between;
  margin-bottom: 15vh;
}
.contact {
  display: flex;
  column-gap: 10px;
}
.contact img{
  width: 30px;
}
@media (max-width: 925px) {
  .main-page {
    grid-template-columns: 1fr;
    padding-bottom: 30%;
    justify-content: center;
    text-align: center;
  }
  .main-message {
    margin: 5% !important;
    padding-bottom: 0 !important;
    min-width: auto;
  }
  .headshot-container {
    display: flex;
    justify-content: center !important;
    margin: 0 auto !important;
    padding: 0 !important;
    max-width: 75%;
  }
  .about-me-submessage {
    flex-direction: column;    
  }
  .about-me h1,
  .about-me p {
    text-align: center;
  }

}

.headshot-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15%;
}

#headshot {

  width: 70%;
  min-width: 350px;
  height: auto;
  border-radius: 50%;
}

.main-message {
  align-content: center;
  margin-left: 15%;
  min-width: 350px;
}
.section-head {
  font-size: clamp(30px, 5vw, 55px);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}
.main-message h3 {
  font-size: clamp(18px, 3vw, 30px);
  font-weight: 700;
  color: rgb(130, 192, 250);
  margin-top: 0;
  margin-bottom: 5px;
}
.main-message p {
  font-size: clamp(10px, 2vw, 16px);
  font-weight: 400;
  margin: 0 0 10px 0;
}

.subheads {
  display: flex;
  justify-content: center;
  padding: 15vh 0 3vh 0;
  font-size: clamp(18px, 3vw, 30px);
  font-weight: 700;
}
.subsubhead {
  text-align: center;
}
.section-head {
  margin-bottom: 2%;
}
.about-me {
  position: sticky;
  display: flex;
  align-content: center;
  height: 100vh;
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 7%;
}
.about-me p {
  font-size: 20px;
  margin-bottom: 1%;
  margin-top: 0;
}
.about-me-message {
  display: flex;
  flex-direction: column;
}
.about-me-submessage {
  display: flex;
  justify-content: space-between;
  column-gap: 5%;
}
.subsubmessage {
  text-align: end;
}
.about-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-items: center;
  align-items: center;
  margin-top: 5%;
}
.about-photos img {
  width: 85%;
  border-radius: 50%;
}


.skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-content: space-between;
  align-items: stretch;
  padding: 3% 10% 25% 10%;
}
.skill-desc  ul {
  padding-left: 0;
}
@media (max-width: 925px) {
  .skill-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .skill-grid {
    grid-template-columns: 1fr;
  }
}